@using CroftBlazorComponents.Services
@using ECommerceProject.Services.Roles
@using Microsoft.AspNetCore.Identity
@using ECommerceProject.Services.UserService
@using Microsoft.EntityFrameworkCore

@layout MainLayout

@inject IUserService _userService
@inject IRoleService _roleService
@inject ToastService _toastService
@page "/Users/Edit/{UserId}"
@page "/Users/Add"

@if (CurrentUser == null)
{
    <div>No user found.</div>
}
else
{
    <h2 class="text-center">Edit User @CurrentUser.UserName</h2>
    <EditForm Model="@CurrentUser" OnValidSubmit="HandleValidSubmit" class="row align-items-center responsive-form">
        <div class="col-auto">
            <label>Email:</label>
            <InputText class="form-control" @bind-Value="CurrentUser.Email" />
            <ValidationMessage For=@(() => CurrentUser.Email) />
        </div>
        <div class="col-auto">
            <label>Username:</label>
            <InputText class="form-control" @bind-Value="CurrentUser.UserName" />
            <ValidationMessage For=@(() => CurrentUser.UserName) />
        </div>
        @{
            foreach(var checkbox in RoleCheckboxes)
            {
                <label>@checkbox.Role.Name:</label>
                <InputCheckbox @bind-Value="checkbox.Selected" />
            }
        }
        <button class="btn btn-success" type="submit">Save</button>
    </EditForm>
}

@code {
    private class RoleCheckbox
    {
        public bool Selected { get; set; } = false;
        public IdentityRole Role { get; set; }
    }

    [Parameter]
    public string UserId { get; set; }
    private IdentityUser? CurrentUser { get; set; } = new();
    private List<IdentityRole?> AllRoles { get; set; } = new List<IdentityRole?>();
    private List<IdentityRole> UserRoles { get; set; }
    private List<RoleCheckbox> RoleCheckboxes { get; set; } = new();
    private EditTypes EditType { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        CurrentUser = await _userService.Get(UserId);

        if (CurrentUser == null)
        {
            CurrentUser = new();
        }
        AllRoles = await _roleService.GetAll();
        UserRoles = await _roleService.GetRolesForUserAsync(CurrentUser);
        RoleCheckboxes = AllRoles.Select(x => new RoleCheckbox
            {
                Selected = UserRoles.Contains(x),
                Role = x
            }).ToList();
        await base.OnParametersSetAsync();
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected async Task HandleValidSubmit()
    {
        await _userService.Update(CurrentUser);
        await _userService.UpdateRolesForUser(CurrentUser, RoleCheckboxes.Where(x => x.Selected).Select(x => x.Role).ToList());
        _toastService.ShowToast($"Successfully saved changes for {CurrentUser.UserName}!", ToastLevel.Success);
    }
}
