@page "/Users/List"
@inject ApplicationDbContext _context
@inject IRoleService _roleService
@using ECommerceProject.Data
@using ECommerceProject.Services.Roles
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using CroftBlazorComponents.Grids
@layout MainLayout


<AuthorizeView>
    <Authorized>
        <h2 class="text-center">Users List</h2>
        <div class="w-100">
            <Grid Items="@Users">
                <Columns Context="columnsContext">
                    <GridColumn HeaderText="Email" Field="@(nameof(IdentityUser.Email))"></GridColumn>
                    <GridColumn HeaderText="Username" Field="@(nameof(IdentityUser.UserName))"></GridColumn>
                    <GridColumn HeaderText="Roles" Context="columnContext">
                    @{
                        var roles = _roleService.GetRolesForUser(columnContext);
                        @roles.Select(x => x.Name).Aggregate((x, y) => x + ", " + y).ToString();
                    }
                    </GridColumn>
                    <GridColumn Context="columnContext">
                        @{
                            <a href="/Users/Edit/@columnContext.Id">Edit</a>
                        }
                    </GridColumn>
                </Columns>
            </Grid>
        </div>
    </Authorized>
</AuthorizeView>
    @code {
    protected List<IdentityUser> Users { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        Users = await _context.Users.ToListAsync();
    }
}
