@inherits LayoutComponentBase

<PageTitle>ECommerceProject</PageTitle>

<CroftBlazorComponents.Notifications.ToastMessage />
<div class="page">
    <NavMenu />

    <main class="content px-4">
        @Body
    </main>
</div>
